/* GLOBAL STYLES */
* {
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, arial, sans;
}


/* OUTER BOX STYLES */
.container {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 10%;
  transform: translateX(-50%);
  /* width: 400px; */
}


/* TIMER STYLES */
.timer {
  font-size: 7em;
  line-height: 0;
  font-weight: bold;
}


/* MODE STYLES */
.mode {
  background: #34495e;
  color: #fff;
  display: inline-block;
  font-size: 2em;
  margin: 0;
  padding: 0 10px;
}

/* BUTTON STYLES */
.actions {
  display: flex;
  justify-content: space-between;
}

button {
  appearance: none;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1.5em;
  height: 1.75em;
  line-height: 1.75em;
  outline: none;
  width: 5.5em;
}

button:hover {
  cursor: pointer;
}

.start {
  background-color: #2980b9;
}

.start:hover {
  background-color: #3498db;
}

.stop {
  background-color: #c0392b;
}

.stop:hover {
  background-color: #e74c3c;
}

/* ICON STYLES */
.pomodoro-icons {
  margin-top: 3em;
}

.pomodoro-icons > img {
  visibility: hidden;
}
